h1 {
	font-family: arial, verdana, sans-serif;
	font-size: 30px;
}

p {
	font-family: arial, verdana, sans-serif;
	font-size: 14px;
}

li {
	font-family: arial, verdana, sans-serif;
	font-size: 14px;
}
